<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/resources/home_style.css">
</head>
<body>
    <header>
        <h1>Bienvenido {{.usuario.Nombre}} </h1>
        <nav>
            <label><a class="navegador" href="#"> uno</a></label>
            <label><a class="navegador" href="#"> dos</a></label>
            {{if .usuario}}
            <label><a class="navegador" href="/Cerrar/"> Cerrar Session</a></label>
            {{else}}
            <label><a class="navegador" href="/login/"> Logearse</a></label>
            {{end}}
        </nav>
    </header>


</body>
</html>