<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resources/login_style.css">
</head>
<body>
    <div id="centrar">
        <h1 id="Title">Biendvenido</h1>
        <form action="#" method="POST">
            <p> <label class="requisitos_formu"> Nombre: <input type="text" name="nombre" > </label></p>
            <p> <label class="requisitos_formu"> Password: <input type="password" name="password" > </label></p>
            <p> <label class="requisitos_formu"><a href="/Registro/">Registro</a> </label></p>
            <p><button class="requisitos_formu">  Enviar</button></p>
        </form>
    </div>
</body>
</html>